{% extends "frontend/base.html" %}

{% block content %}
<style>
</style>
<div class="container">
	<div class="row">
		<div class="col-md-8 col-xs-12">
			{% if message %}
				<div class="panel panel-warning">
					<div class="panel-heading">Error</div>
					<div class="panel-body">{{ message }}</div>
				</div>
			{% endif %}
			<form action="{{ request.path }}" method="post">
				{% csrf_token %}
				{% for field in form %}
					<div class="fieldWrapper form-group">
					    {{ field.errors }}
					    <label for="{{ form.username.id_username }}">{{ field.label_tag }}</label>
					    {{ field }}
					    {% if field.help_text %}
							<div class="help" style="font-size: 12pt">{{ field.help_text|safe }}</div>
						{% endif %}
					</div>
				{% endfor %}<br>
				<input class="btn btn-primary" type="submit" value="Submit">
			</form>
		</div>
	</div>
</div>
{% endblock content %}