{% extends "frontend/base.html" %}

{% block content %}
<script type="text/javascript">

  function post_query(){
    var settings = {
      "async": true,
      "crossDomain": false,
      "url": "{% url 'make_query' %}",
      "method": "POST",
      "data": {
        "query": $('#query').val(),
        "database": $("#database").val(),
        "csrfmiddlewaretoken": "{{ csrf_token }}",
      }
    }

    $.ajax(settings).done(function (response) {
      console.log(response);
    });
  }
</script>

<div class="container" style="margin-top: 70px;">
  <select id="database" name="database">
    {% for database in databases %}
      <option value="{{database.id}}">{{database.name}}</option>
    {% endfor %}
  </select>
  <textarea autofocus class="form-control" id="query" style="font-family: Courier, monospace" cols="100" rows="5"></textarea><br>
  <a style="padding:10px" onclick="post_query()" class="btn">Go</a>
</div>
{% endblock content %}
